/*=== Importacion ===*/

/*=== /Importacion ===*/

/*=== Variables ===*/
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color: #39b187;
  --second-color: #d0a000;
  --gradient-black-0-20: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  --first-color-light: #f8fffa;
  --second-color-light: #fffcf0;
  --black-100: rgb(0, 0, 0);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);

  /* typography */
  --body-font-family: 'Roboto', sans-serif;
  --title-font-family: 'Poppins', sans-serif;

  --big-font-size: 1.125rem;
  --title-font-size: 1.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.125rem;
  --body-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-light: 300;
  --font-normal: 400;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* spacing */
  --sp-0-25: 0.25rem;
  --sp-0-5: 0.5rem;
  --sp-0-75: 0.75rem;
  --sp-1: 1rem;
  --sp-1-25: 1.25rem;
  --sp-1-5: 1.5rem;
  --sp-2: 2rem;
  --sp-2-5: 2.5rem;
  --sp-4: 4rem;
  --sp-5: 5rem;
  --sp-10: 10rem;

  /* z index */
  --z--1: -1;
  --z-0: 0;
  --z-1: 1;
  --z-10: 10;
  --z-100: 100;
}
/*=== /Variables ===*/

/*=== Global config ===*/

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font-family);
  background: rgba(249, 249, 255, 1);
}
.container-m {
  margin: 0 1.5rem;
}
.container-p {
  padding: 0 1.5rem;
}
.title {
  font-family: var(--title-font-family);
  font-size: var(--h2-font-size);
  color: var(--black-80);
  margin-bottom: var(--sp-1);
}
.subtitle {
  font-family: var(--title-font-family);
  font-size: var(--h3-font-size);
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: var(--sp-0-75);
}
p {
  font-size: var(--body-font-size);
  color: var(--black-60);
  line-height: 26px;
  margin-bottom: var(--sp-1-5);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
strong {
  color: var(--first-color);
}
#nav a.logo,
#footer a.logo {
  font-family: var(--title-font-family);
  font-weight: 700;
  font-size: 1.125rem;
  color: black;
  padding: 0.5rem;
}
.logo span {
  color: white;
}
.primary-button {
  display: inline-flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 4px;
  background: var(--first-color);
  border: 2px solid transparent;
  color: white;
  font-weight: var(--font-medium);
  transition: all 0.3s ease-in-out;
}
.primary-button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    var(--first-color);
}
.secondary-button {
  display: inline-flex;
  align-items: center;
  padding: 1rem 2rem;
  background: rgb(0, 0, 0, 0.1);
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  font-weight: var(--font-medium);
  transition: all 0.3s ease-in-out;
}
.secondary-button:hover {
  background: var(--first-color);
  border: 2px solid transparent;
}

/*=== /Global config ===*/

/*=== Header ===*/
/* nav menu */
header {
  height: 100vh;
  background: var(--gradient-black-0-20),
    url(../images/professional-hairdressing-tools-copy-space.jpg) no-repeat
      center/cover;
  margin-bottom: var(--sp-10);
}
#nav {
  height: var(--header-height);
  position: fixed;
  padding: 0 calc(1.5rem - 0.5rem);
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.scroll-nav {
  background: var(--first-color);
}
a.logo {
}
i.toggle {
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}
#nav div {
  position: fixed;
  z-index: var(--z-10);
  top: calc(var(--header-height) + 1rem);
  right: 0;
  left: 0;
  margin: 0 1.5rem;
  display: flex;
  height: calc(100vh - var(--header-height));
  background: white;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0px 30px 30px -10px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  transform: translateX(100vw);
  transition: all 1s ease-in-out;
}
#nav .nav__menu {
  transform: translateX(0);
}
#nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#nav a {
  position: relative;
  display: inline-block;
  padding: 1rem;
  border-radius: 8px;
  font-family: var(--title-font-family);
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
  color: black;
}
#nav ul a::after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  right: 50%;
  height: 3px;
  margin: 4px auto 0 auto;
  background: var(--second-color);
  transition: all 0.3s ease-in-out;
}
#nav ul a:hover::after {
  left: 1rem;
  right: 1rem;
}
/* hero */
#hero {
  display: flex;
  align-items: center;
  height: 100vh;
}
#hero div {
  max-width: 327px;
}
#hero h1 {
  font-family: var(--title-font-family);
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  color: white;
  max-width: 237px;
  margin-bottom: 0.5rem;
}
#hero p {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 1rem;
  font-size: var(--big-font-size);
  font-weight: 400;
  line-height: calc(var(--big-font-size) * 1.5);
}
/*=== /Header ===*/

/*=== Main ===*/
/* section about */
#about {
  margin-bottom: var(--sp-10);
}
#about picture {
  padding: 1rem;
  position: relative;
  z-index: var(--z--1);
}
#about picture::before {
  content: '';
  position: absolute;
  z-index: var(--z--1);
  top: 0;
  left: 0;
  margin-left: -1.5rem;
  width: 400px;
  height: 300px;
  background: var(--first-color);
  border-radius: 0 0.5rem;
}
#about img {
  width: 100vw;
  margin-left: -1.5rem;
  height: auto;
  margin-bottom: var(--sp-2);
}
#about h2::before {
}

/* section services */
#services {
  margin-bottom: var(--sp-10);
}
#services ul {
  display: flex;
  flex-direction: column;
  row-gap: var(--sp-1-25);
}
#services li {
  height: 372px;
  background-color: var(--first-color-light);
  padding: var(--sp-2);
  border-radius: 0.5rem;
  text-align: center;
  border: 2px solid rgba(57, 177, 135, 0.2);
}
#services li img {
  margin-bottom: var(--sp-1-5);
}

/* section depoiments  */
#depoiments {
  margin-bottom: var(--sp-10);
}
#depoiments div {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
#depoiments i.quote {
  color: var(--first-color);
  font-size: 1.5rem;
}
#depoiments span.user {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  height: 2rem;
  color: rgba(0, 0, 0, 0.4);
}
#depoiments span.user img {
  clip-path: circle();
  height: 100%;
  z-index: var(--z--1);
}
#depoiments ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}
#depoiments ul li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 613px;
  background: rgba(0, 0, 0, 0.4);
}
#depoiments ul li:first-child {
  background: var(--first-color);
}

/* section contact */
#contact {
  margin-bottom: var(--sp-5);
}
#contact a.primary-button {
  gap: 0.5rem;
  margin-bottom: 4rem;
}
#contact a.primary-button i {
  font-size: 1.5rem;
}
#contact address ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  color: var(--black-80);
}
#contact address ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#contact address ul li i {
  font-size: 1.5rem;
  color: var(--second-color);
}
/*=== /Main ===*/

/*=== Footer ===*/
#footer {
  padding: var(--sp-5) 1.5rem;
  background-color: var(--second-color);
}
#footer div a.logo {
  display: block;
  margin-bottom: 1.5rem;
}
#footer div p {
  color: white;
  margin-bottom: 0.5rem;
}
#footer div p:last-child {
  margin-bottom: 2rem;
}
#footer ul.social-media {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#footer ul.social-media li i {
  color: white;
  font-size: 1.5rem;
}
#footer ul.social-media {
}
/*=== /Footer ===*/

/*=== xxx ===*/

/*=== /xxx ===*/
@media only screen and (min-width: 768px) {
  #hero {
    justify-content: center;
    text-align: center;
  }
  #hero div {
    max-width: 350px;
  }
  #hero h1 {
    --h1-font-size: 2.125rem;
    max-width: 100%;
    margin: 0 auto;
  }
  #hero p {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  i.toggle {
    display: none;
  }
  #nav div {
    position: sticky;
    display: flex;
    background: none;
    border-radius: none;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    transition: none;
  }
  #nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  #nav a {
    position: relative;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 8px;
    font-family: var(--title-font-family);
    font-size: var(--big-font-size);
    font-weight: var(--font-medium);
    color: white;
  }
  #nav ul a::after {
    margin: 4px auto 0 auto;
    background: black;
  }
  #nav ul a:hover::after {
    left: 0.5rem;
    right: 0.5rem;
  }
}
